In [1]:
import pandas as pd
df = pd.read_csv("Multiclass Clothing Sales Dataset.csv")

In [2]:
df.shape

(100000, 20)

In [3]:
df.head()

,Product_Category,Brand,Product_Name,Gender,Size,Color,Season,Payment_Method,Customer_Type,Selling_Price,Cost_Price,Discount_Percentage,Quantity_Sold,Total_Sales,Stock_Availability,Customer_Age,Purchase_Frequency,Store_Rating,Return_Rate,Sales_Category
0,Traditional Wear,Forever 21,Tops,Women,S,White,Winter,Card,New,1817.433878,816.027585,26.260791,6,42241.692855,294.0,58.0,2.560957,3.106155,29.293331,High Sales
1,Athleisure,Ralph Lauren,Casual Shirt,Men,XXL,Yellow,All-Season,Card,Returning,1672.038198,793.236861,26.882613,8,69318.541482,376.0,40.0,1.590993,3.428439,19.473670,Low Sales
2,Outerwear,Nike,Blazer,Men,S,Green,All-Season,UPI,Returning,1381.568069,890.469629,30.274720,5,56851.121070,48.0,41.0,3.066213,3.765591,22.083407,Medium Sales
3,Athleisure,Zara,Leggings,Women,M,White,Winter,UPI,Returning,859.507388,1497.080062,NaN,4,72084.361720,362.0,32.0,2.194826,4.530297,17.282082,Medium Sales
4,Athleisure,Zara,Dress,Men,XL,Yellow,Summer,Net Banking,Returning,1642.176945,896.187442,NaN,2,29846.082696,34.0,27.0,2.014097,4.644271,9.379608,Medium Sales

In [4]:
df.dtypes

Product_Category        object
Brand                   object
Product_Name            object
Gender                  object
Size                    object
Color                   object
Season                  object
Payment_Method          object
Customer_Type           object
Selling_Price          float64
Cost_Price             float64
Discount_Percentage    float64
Quantity_Sold            int64
Total_Sales            float64
Stock_Availability     float64
Customer_Age           float64
Purchase_Frequency     float64
Store_Rating           float64
Return_Rate            float64
Sales_Category          object
dtype: object